<div class="card" style="height: 400px;" id="home_card">
  <div class="card-body">
    <div class="container">
      <h5 class="card-title" id="home_card_title">Alpha Blog</h5>
      <p class="card-text">Hi, this is a blog!</p>
      <%= link_to 'Articles', articles_path, class: "btn btn-success" %>
    </div>
  </div>
</div>