<div class="card text-end" style="height: 400px;" id="home_card">
  <div class="card-body" style="">
    <h5 class="card-title" id="home_card_title">Jessi's Winelife</h5>
    <p class="card-text">Hi, I'm Jessica and I'll take you on this wine journey, enjoy!</p>
    <%= link_to 'Js Winelist', articles_path, class: "btn btn-success" %>
  </div>
</div>