<div class="container" id="home_container">
  <%= render 'pages/jumbo' %>

  <br/>
  <%= link_to 'Articles', articles_path, class: "btn btn-outline-success" %>
  <%= link_to 'About', about_path, class: "btn btn-outline-success" %>
</div>